@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }
  .cabecalho__menu {
    justify-content: center;
  }
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
    text-align: center;
  }

  .apresentacao__imagem {
    margin-bottom: 0;
  }

  .apresentacao__links {
    padding-right: 0;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .apresentacao__conteudo__lista {
    text-align: left;
  }
}

@media (max-width: 600px) {
  section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .cabecalho__menu {
    gap: 50px;
  }

  .cabecalho__menu__link {
    font-size: 1.2rem;
  }

  .apresentacao__conteudo__titulo {
    top: 220px;
    left: 5px;
    width: auto;
    order: 1;
  }

  #texto__principal {
    font-size: 1.5rem;
    margin-top: 250px;
  }

  #titulo__sobre {
    left: 17%;
  }

  .apresentacao__projeto {
    margin-bottom: 0;
    width: 90%;
    max-width: 350px;
  }
}


