@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-hover: #272727;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
}
.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.cabecalho__menu__link {
  transition: color 0.3s ease-in-out;
}

.cabecalho__menu__link:hover {
  color: var(--cor-secundaria);
}

.apresentacao {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
}

.apresentacao__conteudo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
  text-align: center;
  margin: 60px auto;
}
.titulo-destaque {
  color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  line-height: 30px;
}

section {
  max-width: 1200px;
  gap: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.apresentacao__projeto {
  background-color: #09122c;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
  gap: 10px;
  height: auto;
  width: 350px;
  overflow: hidden;
  margin-bottom: 150px;
  border-radius: 10px;
}

.apresentacao__projeto__imagem {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.apresentacao__projeto:hover {
  transform: scale(1.05);
  transition: 300ms ease-in-out;
  box-shadow: 0 2px 8px #22d5fd3d;
}

.apresentacao__projeto > h2 {
  font-size: 1.5rem;
  margin: 10px;
}

.apresentacao__projeto > p {
  font-size: 1.2rem;
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape {
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  padding: 24px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}
